
@media screen and (min-width: 1151px) {

    #introportion {
        background: url("../img/background_image.png") no-repeat;        
        background-size: cover;
        margin-top: 118px;
        padding-bottom: 100px;
    }

    #aboutOfBdapps {
        background: url("../img/background_image.png") no-repeat;        
        background-size: cover;
        margin-top: 118px;
        padding-bottom: 100px;
    }

    #suppo {
        padding-top: 50px;
        font-size: 50px;
    }

    #runner1 {
        margin-top: -250px;
        padding-right: 100px;
    }

    #runner2 {
        margin-top: -250px;
        padding-left: 100px;
    }

    #runners45{
        padding-top: 70px;
        padding-bottom: 60px;
    }

    #fourth {
        margin-right: -140px;
    }

    #fifth {
        margin-left: -140px;
    }
    #fourthBox {
        height: 30px;
    }
      
    #fifthBox {
        height: 30px;
    }

    .slider {
        padding-bottom: 68px;
        width: 90%;
    }

    #phase5line {
        display: none;
    }

    #bullets {
        padding-top: 50px;
    }  
    
    #mainLogo {
        width: 380px;
        margin-right: 0;
        margin-left: 200px;
        padding-top: 2px;
    }

    #overviewHeading {
        margin-top: -58px;
        margin-left: -13px;
    }
    
    #overviewPara {
        margin-left: -12px;
        margin-top: -8px;
    }

    #regNowBtn {
        padding-left: 180px;
    }
    
    #question {
        padding-left: 180px;
        padding-top: 2px;
    }
    
    #deadline {
        padding-left: 180px;
    }


    /* rules start */

    #rulesHeading {
        margin-top: 20px;
        padding-bottom: 2px;
        font-size: 58px;
    }

    #rulesHead {
        font-size: 33px;
        font-weight: 700;
        line-height: 20px;
    }

    #miscellaneous {
        font-size: 33px;
        font-weight: 700;
        line-height: 20px;
    }

    #horiRed {
        margin: 1.5rem;
    }

    #rules {
        font-family: 'Nunito';
        padding-top: 27px;
        font-size: 18px;
        padding-right: 8px;
        margin-left: -60px;
    }
    #rules2 {
        font-size: 20px;
        margin-right: 2rem;
    }
      
    #round {
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 30px;
        margin-left: 50px;
    }

    #rulesCon {
        margin-left: 1rem;
        margin-top: 16px;
        height: 100px;
        width: 107px;
    }

    #regi {
        padding-top: 30px;
    }

    #regiRound {
        padding-top: 10px;
    }

    #onlRound {
        padding-top: 0;
        margin-top: -12px;
    }

    #natRound {
        padding-top: 20px;
    }

    #misce {
        padding-top: 0;
        margin-top: -10px;
    }
    /* rules end */

    #footer {
        padding-top: 24px;
        padding-bottom: 24px;
    }
      
}

/* min-width: 1151px end */
@media screen and (min-width: 800px) {
    .footerIcons {
        float: right;
    }

    #f1 {
        margin-top: -44px;
        margin-right: 80px;
    }
    #f2 {
        margin-top: -44px;
        margin-right: 130px;
    }
    #f3 {
        margin-top: -44px;
        margin-right: 180px;
    }
} 

@media screen and (max-width: 799px) {
    .footerIcons {
        margin:4px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1150px) {
    #fourth {
        margin-right: -100px;
    }

    #fifth {
        margin-left: -100px;
    }

    #runners {
        margin-top: -20px;
    }

    #runner1 {
        padding-right: 100px;
    }

    #runner2 {
        padding-left: 100px;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    #fourth {
        margin-right: -50px;
    }

    #fifth {
        margin-left: -50px;
    }
}



/* max-width: 1150px start */

@media screen and (max-width: 1150px) {
    html {
        scroll-padding-top: 12%;
    }
    
    #logo {
      height: 80px;
      margin-left: -20px;
    }

    #navregbtn {
        border-radius: 13px;
        width: 150px;
        height: 36px;
        font-size: 20px;
        padding-top: 2px;
        margin-top: 4px;
        margin-right: -30px;
    }

    #navItem {
        font-size: 16px;
        padding-left: 2px;
        padding-right: 2px;
    }

    #introportion {
        padding-top: 20px;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    #aboutOfBdapps {
        padding-top: 20px;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    #introPara {
        font-family: 'Nunito';
        font-size: 18px;
        padding-top: 10px;
        text-align: center !important;
        margin-left: 0;
        line-height: 18px;
    }

    #mainLogo {
        width: 330px;
        margin-top: 40px;
    }

    #overviewHeading {
        font-size: 28px;
        text-align: center;
        margin-bottom: 0rem;
        margin-top: -20px;
    }

    #overviewPara {
        line-height: 19px;
        text-align: center;
        font-size: 17px;
    }
    #question {
        padding-top: 35px;
    }

    #deadline {
        font-size: 15px !important;
    }

    #regnowbtn {
        border-radius: 10px;
        width: 160px;
        height: 40px;
        padding-top: 2px;
        padding-left: 0;
        padding-right: 0;
        font-size: 22px !important;
        margin-left: -10px;
    }

    /* suppoerted by start */
    #supportedBy {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slider {
        width: 80%;
    }
    /* suppoerted by end */

    /* prize money start*/
    #prizeHeading {
        font-size: 42px;
        padding-top: 38px;
        line-height: 36px;
    }

    #prizeMonPara {
        font-size: 19px;
        line-height: 19px;
    }

    #bdt {
        font-size: 26px;
    }

    #champ {
        width: 150px;
        font-size: 24px;
        margin-bottom: 18px;
    }

    #champtaka {
        width: 240px;
        height: 66px;
        font-size: 42px;
        margin-top: -18px;
        padding-top: 1px;
        border-radius: 12px;
    }

    #runnersup1 {
        width: 170px;
        height: 32px;
        font-size: 22px;
        font-family: 'Nunito';
    }

    #runnersup2 {
        width: 170px;
        height: 32px;
        font-size: 22px;
        font-family: 'Nunito';
    }

    #hori {
        max-width: 180px;
    }

    #horibot {
        max-width: 180px;
    }

    #taka {
        font-size: 29px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #taka45 {
        font-size: 24px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #fourthBox {
        width: 62px;
        border-radius: 6px;
        margin: auto;
        height: 24px;
        padding-top: 0;
        font-size: 18px !important;
        text-align: center;
    }

    #fifthBox {
        width: 62px;
        border-radius: 6px;
        margin: auto;
        height: 24px;
        padding-top: 0;
        font-size: 18px !important;
        text-align: center;
    }

    #runners45 {
        margin-top: 40px !important;
    }

    #hori45 {
        max-width: 120px;
    }

    #horibot45 {
        max-width: 120px;
    }

    #sixthBox {
        font-size: 16px;
        width: 56px;
        height: 22px;
    }

    #sixthRow {
        margin-top: 40px;
    }

    #hori6 {
        max-width: 95px;
    }

    #taka6 {
        font-size: 20px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #horibot6 {
        max-width: 95px;
    }

    /* prize money end*/


    #bullets {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 21px;
        margin-left: 4px;
        margin-right: 4px;
    }

    /* phases start*/
    #phaseNum {
        padding-top: 0;
        font-size: 18px;
        margin-left: 72px;
    }

    #dateAnnounce {
        font-size: 15px;
        margin-top: 0;
        margin-left: 20px;
    }

    #phaseIcon {
        height: 55px;
        width: 55px;
        text-align: center;
        padding-top: 4px;
        margin-top: -70px;
        margin-left: 50px;
    }

    #phasesRow {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    
    #phasePara {
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
        margin-left: -62px;
    }

    #phaseHeading {
        margin-left: -62px;
    }

    #hori2 {
        max-width: 350px;
        margin-top: 20px;
    }

    #smallCircle {
        color: white;
        margin-left: 210px;
        margin-top: -70px;
    }

    #mentHeading {
        font-size: 20px;
    }

    #tableContent {
        font-size: 15px;
    }

    #tableHeaders {
        font-size: 22px;
    }

    #phaseRegHeading {
        font-size: 24px;
    }
    
    #ment {
        width: 130px;
        font-size: 15px;
        height: 28px;
    }
    .verline {
        margin-left: 214px;
        margin-top: -40px;
    }
    /* phases end */


    /* rules start */
    /* #rulesCon {
        height: 70px;
        padding-left: 40px;
    } */

    #rulesHeading {
        padding-bottom: 2px;
        font-size: 50px;
    }

    #rulesHead {
        font-size: 18px;
        line-height: 20px;
        padding-left: 4px;
    }

    #rules {
        font-family: 'Nunito';
        padding-top: 0;
        font-size: 16px;
        padding-right: 8px;
    }

    #rules2 {
        font-size: 16px;
    }
      
    #round {
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 30px;
        margin-left: 40px;
    }
    #eligi {
        padding-left: 20px;
        padding-top: 50px;
    }

    #regi {
        padding-top: 26px;
    }

    #regiRound {
        padding-top: 20px;
    }

    #onlRound {
        padding-top: 10px;
    }

    #natRound {
        padding-top: 50px;
    }

    #misce {
        padding-top: 0;
    }
    /* rules end */

    #footer {
        font-size: 18px;
        padding-top: 28px;
        padding-bottom: 14px;
    }
      

}

/* max-width: 1150px end */


/* max-width: 864px start */
@media screen and (max-width: 864px) {
    html {
        scroll-padding-top: 15%;
    }


    #introPara {
        font-family: 'Nunito';
        font-size: 17px;
        padding-top: 10px;
        text-align: center !important;
        margin-left: 0;
        line-height: 18px;
    }

    #mainLogo {
        width: 310px;
        margin-top: 20px;
    }

    #overviewHeading {
        font-size: 32px;
        text-align: center;
        margin-bottom: 0rem;
        margin-top: -20px;
    }

    #overviewPara {
        line-height: 19px;
        text-align: center;
        font-size: 16px;
    }
    #question {
        padding-top: 35px;
    }

    #timeLine {
        text-align: center;
        margin-left: 0;
        font-size: 30px;
        margin-bottom: 10px;
        padding-top: 14px;
    }

    .verline {
        margin-left: 194px;
        margin-top: -76px;
    }

    #round {
        font-size: 30px;
        font-weight: bold;
    }
    
}

/* max-width: 850px end */



/* max-width: 768px start */

@media screen and (max-width: 768px) {
    #navregbtn {
      border-radius: 10px;
      width: 140px;
      height: 30px;
      font-size: 18px;
      margin-bottom: 20px;
      padding-top: 0;
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 10px;
    }

    .nav-link {
        padding: 0;
        padding-top: 6px;
    }

    #navItem {
        font-size: 16px;
    }

    #introportion {
        padding-top: 45px;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }

    #aboutOfBdapps {
        padding-top: 45px;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }

    #introPara {
        font-family: 'Nunito';
        font-size: 17px;
        padding-top: 10px;
        text-align: center !important;
        margin-left: 0;
        line-height: 20px;
    }

    #mainLogo {
        width: 300px;
        margin-top: 2px;
    }

    #overviewHeading {
        font-size: 32px;
        text-align: center;
        margin-bottom: 0rem;
    }

    #overviewPara {
        line-height: 18px;
        text-align: center;
        font-size: 16px;
    }
    #question {
        padding-top: 50px;
        font-size: 20px !important;
    }

    #supportedBy {
        padding-top: 16px;
    }




    /* prize money start*/

    #prizeHeading {
        font-size: 42px;
        padding-top: 38px;
        line-height: 36px;
    }

    #prizeMonPara {
        font-size: 18px;
        line-height: 18px;
    }



    #champtaka {
        width: 220px;
        height: 60px;
        font-size: 37px;
        margin-top: -18px;
        padding-top: 1px;
        border-radius: 12px;
    }

    #runnersup1 {
        width: 158px;
        height: 32px;
        font-size: 22px;
        font-family: 'Nunito';
    }

    #runnersup2 {
        width: 158px;
        height: 32px;
        font-size: 22px;
        font-family: 'Nunito';
    }

    #hori {
        max-width: 160px;
    }

    #taka {
        font-size: 24px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #taka45 {
        font-size: 22px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #runners {
        margin-top: 40px;
    }

    #horibot {
        max-width: 160px;
    }

    #fourthBox {
        width: 64px;
        border-radius: 6px;
        margin: auto;
        height: 26px;
        padding-top: 0;
    }

    #fifthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #runners45 {
        margin-top: 40px !important;
    }

    #hori45 {
        max-width: 110px;
    }

    #horibot45 {
        max-width: 110px;
    }

    #sixthBox {
        font-size: 18px;
        width: 52px;
        height: 24px;
    }

    #hori6 {
        max-width: 95px;
    }

    #taka6 {
        font-size: 20px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #horibot6 {
        max-width: 95px;
    }

    #prizeMoneyContainer {
        padding-bottom: 1.5rem !important;
    }

    /* Prize money end */



    /* bullets start */
    #bullets {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    /* bullets end */   





    /* phases start*/
    #phaseNum {
        padding-top: 0;
        margin-left: 10px;
        font-size: 18px;
        padding-left: 30px;
    }

    #dateAnnounce {
        margin-left: 10px;
        font-size: 15px;
        margin-top: 0;
        padding-left: 30px;
    }

    #phaseIcon {
        height: 55px;
        width: 55px;
        text-align: center;
        padding-top: 4px;
        margin-top: -70px;
        margin-left: 60px;
    }

    #phasePara {
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
        margin-left: -62px;
    }

    #phaseHeading {
        margin-left: -62px;
    }

    #hori2 {
        max-width: 350px;
        margin-top: 20px;
    }
    .verline {
        margin-left: 140px;
        margin-top: -100px;
    }
    /* phases end */
    




    /* Rules start */

    #rulesHeading {
        font-size: 42px;
        text-align: center;
        padding-top: 2rem !important;
        margin-left: 0 !important;
    }

    .child1 {
        width: 100%;
        text-align: center;
        padding-top: 10px !important;
    }

    .child2 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #rules {
        font-family: 'Nunito';
        padding-top: 4px;
        font-size: 17px;
    }
        
    #rules2 {
        font-family: 'Nunito';
        text-align:right ;
        font-size: 17px;
    }
    
    ul {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    #horiRed {
        margin-top: 4px;
    }

    #round {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin-top: -18px;
        padding-bottom: 20px;
    }

    #rules {
        font-size: 16px;
    }

    #rules2 {
        font-size: 16px;
    }


    #onlRound {
        margin-top: -24px;
        margin-left: 0;
    }

    #nationalRound {
        padding-top: 0;
        margin-top: -20px;
    }

    #misce {
        margin-top: -20px;
        margin-left: 0;
    }

    /* Rules end */
    

    .slider {
        width: 80%;
    }
}
 
/* max-width: 768px end */


/* max-width: 715px start */
@media screen and (max-width: 715px) {

    #overviewHeading {
        font-size: 28px;
        text-align: center;
        margin-bottom: 0rem;
    }

    #overviewPara {
        line-height: 18px;
        text-align: center;
        font-size: 15px;
    }

    #phaseNum {

        padding-left: 10px;
    }

    #dateAnnounce {
        margin-left: 10px;
        font-size: 15px;
        margin-top: 0;
        padding-left: 12px;
    }

    #phasePara {
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
        margin-left: -52px;
    }

    #phaseHeading {
        margin-left: -52px;
    }

    .verline {
        margin-left: 130px;
        margin-top: -98px;
    }

}

/* max-width: 715px end */


/* max-width: 630px start */
@media screen and (max-width: 630px) {

    .navbar{
        height: 71px;
    }

    #overview_div{
        text-align: center;
    }
    #overview-text {
        font-size: 14px;
        margin-left: 9px;
    }

    .verline {
        margin-left: 120px;
        margin-top: -100px;
    }

    #phasePara {
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
        margin-left: -46px;
    }

    #footer {
        font-size: 16px;
        padding-top: 17px;
    }

    #aboutOfBdappsHeading {
        margin-top: 0px;
        font-size: 36px;
        text-align: center;
    }

    #aboutOfBdappsHeading-text {
        font-size: 14px;
        text-align: justify;
    }


    #aboutOfBdapps-image {
        width: 85%;
        height: 261px;
        margin-top: 25px;
        margin-bottom: 35px;
    }

        
    .box-div {
        width: 94%;
        margin-left: 0.6rem;
    }


    #team-reg-submit {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
}

/* max-width: 630px end */



/* max-width: 576px start */

@media screen and (max-width: 576px) {

    .navbar{
        height: 71px;
    }
    #registration_div{
        margin-bottom: 56px;
    }

    #support_img_div{
        text-align: center;
    }

    #overview_div{
        text-align: center;
    }
    #overview-text {
        font-size: 14px;
        margin-left: 9px;
    }
    
    #support-image {
        width: 100%;
        margin-left: 25px;
        height: 322px;
    }

    #watch_video_icon {
        margin-top: -2.9rem;
        width: 8rem;
    }

    #container_div {
        margin-left: 4%;
        margin-right: 4%;
    }

    #main-heading-text{
        font-size: 14px;
    }
    

    html {
        scroll-padding-top: 8%;
    }

    /* Intro start */

    #logo {
        height: 3.3rem;
        width: 9.1rem;
        margin-right: 11rem;
        margin-top: -7px;
    }

    #national_andriod_bootcamp_logo img {
        height: 111px;
        width: 371px;
    }

    .nav-link {
        padding: 0;
        padding-top: 6px;
    }
    #navregbtn {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 122px;
        margin-bottom: 18px;
    }

    #introPara {
        font-family: 'Nunito';
        font-size: 17px;
        padding-top: 6px;
        text-align: center !important;
        margin-left: 0;
        line-height: 20px;
    }

    #mainLogo {
        width: 270px;
        margin-top: -28px;
    }

    #overviewHeading {
        font-size: 28px;
        text-align: center;
        margin-top: -4px;
        margin-bottom: 0rem;
    }

    #overviewPara {
        line-height: 18px;
        text-align: center;
        font-size: 16px;
    }

    #question {
        padding-top: 15px;
    }

    #supportedBy {
        padding-bottom: 2px;
    }
    /* Intro end */
    
    
    /* Prize money start */
    
    #prizeHeading {
        font-size: 38px;
        padding-top: 30px;
        line-height: 36px;
    }

    #prizeMonPara {
        font-size: 16px;
        line-height: 18px;
    }

    #bdt {
        font-size: 20px;
    }

    #champ {
        width: 150px;
        font-size: 24px;
        margin-bottom: 18px;
    }

    #champtaka {
        width: 220px;
        height: 60px;
        font-size: 34px;
        margin-top: -18px;
        padding-top: 1px;
        border-radius: 12px;
    }

    #runnersup1 {
        width: 146px;
        height: 30px;
        font-size: 20px;
        font-family: 'Nunito';
    }

    #runnersup2 {
        width: 146px;
        height: 30px;
        font-size: 20px;
        font-family: 'Nunito';
    }

    #hori {
        max-width: 160px;
    }

    #taka {
        font-size: 24px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
        margin-top: 10px;

    }

    #taka45 {
        font-size: 22px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #runners {
        margin-top: 40px;
    }

    #horibot {
        max-width: 160px;
    }

    #runner2 {
        margin-top: 29px;
    }

    #fourthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }



    #fifthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #runners45 {
        margin-top: 40px !important;
    }

    #hori45 {
        max-width: 110px;
    }

    #horibot45 {
        max-width: 110px;
    }


    #fifth {
        margin-top: 35px;
    }

    #sixth {
        margin-top: 0px;
    }

    #sixthBox {
        font-size: 18px;
        width: 85px;
        height: 29px;
    }

    #sixthRow {
        padding-bottom: 10px;
        margin-top: 25px;
    }

    #hori6 {
        max-width: 95px;
    }

    #taka6 {
        font-size: 20px;
        text-shadow: 2px 2px rgba(0,0,0,.6);
    }

    #horibot6 {
        max-width: 95px;
    }

    #prizeMoneyContainer {
        margin-left: 15px;
        padding-bottom: 1.5rem !important;
    }

    /* Prize money end */


    /* bullets start */
    #bullets {
        font-size: 17px;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 21px;
    }
    /* bullets end */   


    /* Phases start */

    #phases {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #phase {
        width: 100%;
        text-align: center;
    }

    #phaseHeading {
        margin-left: 0px !important;
    }
    #phaseICon {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #phaseDetail {
        width: 100%;
        text-align: center;
    }

    #phaseNum {
        padding-left: 0;
        padding-top: 0;
        margin-left: 6px;
        font-size: 18px;
    }

    #dateAnnounce {
        margin-left: 0;
        font-size: 15px;
        margin-top: -16px;
        padding-left: 0;
    }

    #phaseIcon {
        height: 55px;
        width: 55px;
        text-align: center;
        padding-top: 8px;
        margin-top: 2px;
        margin-left: 0;
    }

    #phasePara {
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
    }

    #phasesRow {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    #phaseHeading5 {
        padding-left: 2px;
        margin-left: 0;
    }

    #phase5 {
        padding-top: 18px;
        padding-bottom: 24px;
    }

    #hori2 {
        max-width: 250px;
        margin-top: 2px;
    }
    #phaseRegHeading {
        font-size: 22px;
    }

    #tableHeaders {
        font-size: 18px;
    }

    #tableContent {
        font-size: 14px;
        line-height: 16px;
    }

    .verline {
        display: none;
    }

    .table {
        margin-bottom: 0 !important;
    }

    /* Phases end */


    /* Rules start */

    #rulesHeading {
        font-size: 42px;
        text-align: center;
        padding-top: 1.5rem !important;
        margin-left: 0 !important;
    }

    .child1 {
        width: 100%;
        text-align: center;
        padding-top: 10px !important;
    }

    .child2 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #rules {
        font-family: 'Nunito';
        padding-top: 4px;
        font-size: 17px;
        line-height: 22px;
    }

  

    #rules2 {
        font-family: 'Nunito';
        text-align:right ;
        font-size: 17px;
        line-height: 22px;
    }

    #rules2 li {
        padding-bottom: 8px;
    }
    
    ul {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    #horiRed {
        margin-top: 4px;
    }

    #round {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin-top: -18px;
        padding-bottom: 20px;
        margin-left: 0px;
    }

    #eligi {
        padding-left: 0px !important;
        margin-top: -20px;
    }

    #onlRound {
        margin-top: -24px;
        margin-left: 0;
    }

    #nationalRound {
        padding-top: 0;
        margin-top: -20px;
    }

    #misce {
        margin-top: -20px;
        margin-left: 0;
    }

    /* Rules end */


    /*  slider start*/

    #suppo {
        margin-bottom: 1rem;
    }

    .slider {
        width: 40%;
    }

    .slick-prev, .slick-next{
        width: 28px;

    }

    .slick-prev:before, .slick-next:before {
        font-size: 57px;
        line-height: 83px;
    }

    .slick-slide {
        margin: 0px 10px;
    }

    .slick-slide img {
        height: 77px;
        width: 164px;
        margin-left: 0%;
    }

    #prize-money-benefit{
        font-size: 22px;
        font-weight: 800;
        margin-left: 38px;
    }


    #prize-money-text {
        font-size: 12px;
        margin-left: 3rem;
        text-align: justify;
    }

    
    #prizeMoney {
        margin-left: -3rem;
    }

   
    #powered_by_robi_logo{
        width: 148px;
        height: 55px;
        margin-left: 0px !important;
      }


    #roadshows_heading p{
        font-size: 38px;
        line-height: 40px;
        text-align: center;
    }

    #roadshows_timeline{
        margin-top: 31px;
    }

    /* #roadshows_phase h4{
        text-align: center;
    } */

    /* #roadshows_phase p {
        font-size: 14px;
        text-align: justify;
    } */

    #aboutOfBdappsHeading {
        margin-top: 0px;
        font-size: 36px;
        text-align: center;
    }

    #aboutOfBdappsHeading-text {
        font-size: 14px;
        text-align: justify;
    }


    #aboutOfBdapps-image {
        width: 85%;
        height: 261px;
        margin-top: 25px;
        margin-bottom: 35px;
    }

        
    .box-div {
        width: 94%;
        margin-left: 0.6rem;
    }

    #team-reg-submit {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }



    .navbar-nav{
        background-color: #9f2757;
        width: 197px;
        height: 170px;
    }

    #navregbtn{
        display: none;
    }

    #navcol-1{
        margin-left: 0.5rem;
        margin-right: 159px;
    }

    .slick-list {
        height: 88px;
    }

    #prizeMoneyContainer {
        margin-left: 15px;
    }

    .child1 img{
        height: 100px;
        width: 100px;
        margin-top: 9px;
    }

    #rulesHead{
        font-size: 21px;
        line-height: 20px;
        padding-left: -2px;
        margin-right: 24px;
    }

    #rules li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #rules2 li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #footer {
        font-size: 16px;
        padding-top: 17px;
    }

    #aboutOfBdapps_image_div{
        padding-left: 0px;
    }

    #line_div{
        display: none;
    }

    #team-reg-submit:hover {
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }
      
      #team-reg-submit:hover {
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }
      
      #navregbtn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }
      
      #heading-registration-btn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }

      #bdapps_android_logo{
        width: 74% !important;
        height: 92px !important;
    }

    /*  slider end*/
}

/* max-width: 576px end */



/* max-width: 480px start */

@media screen and (max-width: 480px) {

    #phases .nav {
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    #phases .nav-link{
        padding: 5px;
    }

    #phases .tab-content {
        margin-left: 0px;
        margin-right: 18px;
    }

    #phases .tab-content h3{
        text-align: center;
    }

    #phases #roadshows_heading p {
        margin-bottom: 0px;
    }

    #phases #roadshows_heading{
        margin-left: 0px;
        margin-top: 13px;
    }

    #phases .roadshow_dates_text{
        margin-top: 0px !important;
    }

    #logo {
        height: 49px;
        width: 123px;
        margin-right: 174px;
        margin-top: 0px;
    }

    #national_andriod_bootcamp_logo img {
        height: 85px;
        width: 331px;
    }

    #powered_by_robi_logo{
        width: 127px;
        height: 37px;
        margin-left: 0px !important;
      }

    #bullets {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar{
        height: 71px;
    }

    #support_img_div{
        text-align: center;
    }

    #support-image {
        width: 100%;
        margin-left: 25px;
        height: 380px;
    }

    #overview_div{
        text-align: center;
    }

    #overview-text {
        font-size: 14px;
        margin-left: 9px;
    }

    #registration_div{
        margin-bottom: 56px;
        margin-top: 20px;
    }

    #watch_video_icon {
        margin-top: -2.9rem;
        width: 8rem;
    }





    #main-heading-text{
        font-size: 14px;
    }



    #heading-registration-btn{
        border-radius: 8px;
        color: #8F1D43;
        box-shadow: 2px 2px 8px var(--bs-gray-dark);
        height: 2.3rem;
        font-family: 'Nunito';
        font-size: 17px;
        width: 161px;
        margin-top: 0.5rem;

    }

    #champ {
        width: 150px;
        font-size: 24px;
        margin-bottom: 18px;
    }

    #sixth {
        margin-top: 0px;
    }

    
    #sixthBox {
        font-size: 18px;
        width: 85px;
        height: 29px;
    }

    #fifth {
        margin-top: 35px;
    }

    #fifthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #fourthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #prizeHeading {
        font-size: 30px;
        line-height: 30px;
    }

    #rulesHeading {
        font-size: 30px;
        text-align: center;
        margin-left: 0 !important;
    }

    /* slider start */

    #suppo {
        margin-bottom: 1rem;
    }

    .slider {
        width: 52%;
    }

    .slick-prev, .slick-next{
        width: 28px;

    }

    .slick-prev:before, .slick-next:before {
        font-size: 61px;
        line-height: 88px;
    }

    .slick-slide {
        margin: 0px 10px;
    }

    .slick-slide img {
        height: 77px;
        width: 164px;
        margin-left: 8%;
    }

    #prize-money-benefit{
        font-size: 22px;
        font-weight: 800;
        margin-left: 38px;
    }


    #prize-money-text {
        font-size: 13px;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
        padding: 7px;
    }

    
    #prizeMoney {
        margin-left: -3rem;
    }

  



    #roadshows_heading p{
        font-size: 38px;
        line-height: 40px;
        text-align: center;
    }


    #aboutOfBdappsHeading {
        margin-top: 0px;
        font-size: 36px;
        text-align: center;
    }

    #aboutOfBdappsHeading-text {
        font-size: 14px;
        text-align: justify;
    }


    #aboutOfBdapps-image {
        width: 350px;
        height: 337px;
        margin-top: 25px;
        margin-bottom: 35px;
        margin-left: 0px;
    }

    .navbar-nav{
        background-color: #9f2757;
        width: 197px;
        height: 170px;
    }

        
    .box-div {
        width: 94%;
        margin-left: 0.6rem;
    }


    #team-reg-submit {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }


    #navregbtn{
        display: none;
    }

    #navcol-1{
        margin-left: 0.5rem;
        margin-right: 159px;
    }

    .slick-list {
        height: 88px;
    }

    #champtaka {
        font-size: 34px;
    }


    #taka {
        margin-top: 10px;
        font-size: 24px;
        margin-top: 10px;
    }

    #prizeMoneyContainer {
        margin-left: 15px;
    }

    #runner2 {
        margin-top: 29px;
    }

    
    #sixthRow {
        margin-top: 25px;
    }


    .child1 img{
        height: 100px;
        width: 100px;
        margin-top: 9px;
    }

    #rulesHead{
        font-size: 21px;
        line-height: 20px;
        padding-left: -2px;
        margin-right: 24px;
    }

    #rules li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #rules2 li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #registrationSelectionText{
        font-size: 21px;
        line-height: 20px;
        text-align: center;
        margin-top: -18px;

    }

    #footer {
        font-size: 16px;
        padding-top: 17px;
    }

    #aboutOfBdapps_image_div{
        padding-left: 0px;
    }

    #line_div{
        display: none;
    }

    .btn-nah:hover {
        color: #191719;
        background: #FFFFFF;
    }

    #team-reg-submit:hover {
        background-color: #FFFFFF !important;
        color: #b62052 !important;
    }
      
    #navregbtn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
    }
      
    #heading-registration-btn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
    }

    #roadshows_timeline{
        transform: rotate(0deg);
        margin-top: 10px;
    }

    .prize_money_row, #runners, #runners45, #sixthRow{
        margin-left: 15px;
    }

    #footerIcons{
        height: 31px;
        width: 31px;
        margin-right: 0.5rem;
    }

    #bdapps_android_logo{
        width: 74% !important;
        height: 75px !important;
    }

    #footer_social_section{
        margin-top: 0px !important;
        margin-right: 0px;
    }
}

@media screen and (max-width: 420px) {
    #logo {
        margin-right: 153px;
    }

    #support-image{
        height: 350px;
    }

}

@media screen and (max-width: 400px) {
    #logo {
        margin-right: 139px;
    }

    #support-image{
        height: 340px;
    }
}

@media screen and (max-width: 380px) {

    #phases .nav {
        margin-left: 0px;
    }

    #phases .nav-link{
        padding: 5px;
    }

    #phases .tab-content {
        margin-left: 0px;
        margin-right: 18px;
    }

    #phases .tab-content h3{
        text-align: center;
    }

    #phases #roadshows_heading p {
        margin-bottom: 0px;
    }

    #phases #roadshows_heading{
        margin-left: 0px;
        margin-top: 13px;
    }

    #phases .roadshow_dates_text{
        margin-top: 0px !important;
    }

    #logo {
        margin-right: 6.5rem;
        height: 49px;
        width: 123px;
        margin-top: 0px;
    }

    #national_andriod_bootcamp_logo img {
        height: 75px;
        width: 286px;
    }

    #registration_div{
        margin-top: 20px;
    }

    #powered_by_robi_logo{
        width: 118px;
        height: 36px;
        margin-left: 18px !important;
      }

    #support-image{
        width: 100%;
        margin-left: 16px;
        height: 313px;
    }


    #aboutOfBdapps-image {
        width: 250px;
        height: 240px;
        margin-top: 25px;
        margin-bottom: 35px;
        margin-left: 32px;
    }
   
  

    #prize-money-text {
        font-size: 13px;
        margin-left: 3rem;
        text-align: justify;
        padding: 6px;
    }

    #roadshows_timeline{
        transform: rotate(0deg);
        margin-top: 10px;
    }

    
    #table_size {
        padding-right: 13px;
        padding-left: 13px;
    }

    #registrationSelectionText{
        font-size: 21px;
        line-height: 20px;
        text-align: center;
        margin-top: -18px;

    }

    #heading-registration-btn{
        font-size: 17px;
        width: 9rem;

    }

    #aboutOfBdapps_image_div {
        margin-right: 37px;
    }

    .slider {
        width: 58%;
    }

    .slick-slide img {
        height: 77px;
        width: 164px;
        margin-left: 0%;
    }

    .prize_money_row, #runners, #runners45, #sixthRow{
        margin-left: 15px;
    }

    #footerIcons{
        height: 28px;
        width: 28px;
        margin-right: 0.4rem;
    }

    #footer_social_section{
        margin-top: 4px !important;
        margin-right: 0px;
    }

    #bdapps_android_logo{
        width: 85% !important;
        height: 75px !important;
    }

    .team-regis {
        margin-top: 4.4rem;        
    }


}

@media screen and (max-width: 350px){
    #support-image{
        height: 300px;
    }
}


@media screen and (max-width: 340px){
    #aboutOfBdapps-image {
        margin-left: 26px;
    }

    #support-image{
        height: 265px;
    }

    #footerIcons {
        height: 24px;
        width: 24px;
    } 

  
}

@media screen and (max-width: 320px){
    #aboutOfBdapps-image {
        margin-left: 16px;
    }
    #support-image{
        height: 265px;
    }

    #powered_by_robi_logo {
        width: 82px;
        height: 30px;
    }

    #footerIcons {
        height: 20px;
        width: 20px;
    }   
}

@media screen and (max-width: 300px) {

    #phases .nav {
        margin-left: 0px;
    }

    #phases .nav-link{
        padding: 5px;
    }

    #phases .tab-content {
        margin-left: 0px;
        margin-right: 18px;
    }

    #phases .tab-content h3{
        text-align: center;
    }

    #phases #roadshows_heading p {
        margin-bottom: 0px;
    }

    #phases #roadshows_heading{
        margin-left: 0px;
        margin-top: 13px;
    }

    #phases .roadshow_dates_text{
        margin-top: 0px !important;
    }

    #runners, #runners45, #sixthRow{
        margin-left: 0px;
    }


    .navbar{
        height: 71px;
    }

    #logo {
        height: 47px;
        width: 97px;
        margin-right: 5rem;
        margin-top: 3px;
    }

    #national_andriod_bootcamp_logo img {
        height: 67px;
        width: 246px;
    }

    #registration_div{
        margin-bottom: 56px;
        margin-top: 20px;
    }

    #suppo {
        margin-bottom: 1rem;
    }

    #support_img_div{
        text-align: center;
    }
    #support-image {
        width: 100%;
        margin-left: 25px;
        height: 249px;
    }

    #overview_div{
        text-align: center;
    }
    #overview-text {
        font-size: 14px;
        margin-left: 9px;
    }

    #watch_video_icon {
        margin-top: -2.9rem;
        width: 8rem;
    }

    #main-heading-text{
        font-size: 14px;
        text-align: justify;
    }

    #runners {
        margin-top: 40px !important;
    }


    #rulesHeading {
        font-size: 28px;
        text-align: center;
        padding-top: 1rem !important;
        margin-left: 0 !important;
    }

    .slider {
        width: 55%;
    }

    .slick-slide img {
        height: 54px;      
        width: 90%;
    }

    .slick-prev, .slick-next{
        width: 28px;

    }

    .slick-prev:before, .slick-next:before {
        font-size: 57px;
        line-height: 64px;
    }

    #prize-money-benefit{
        font-size: 19px;
        font-weight: 800;
        margin-left: 38px;
    }

    #champ {
        width: 150px;
        font-size: 24px;
        margin-bottom: 18px;
    }

    #sixth {
        margin-top: 0px;
    }

    
    #sixthBox {
        font-size: 18px;
        width: 85px;
        height: 29px;
    }

    #fifth {
        margin-top: 35px;
    }

    #fifthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #fourthBox {
        color: var(--bs-white);
        font-family: 'Nunito';
        background-color: #8F1D43;
        width: 61px;
        margin: auto;
        height: 27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 1px solid #E6E7E8;
        border-right: 1px solid #E6E7E8;
        border-left: 1px solid #E6E7E8;
    }

    #runnerSupTakaBox{
        width: 241px;
        margin-left: 48px;

    }

    #prize-money-text {
        font-size: 12px;
        text-align: justify !important;
        padding: 9px;
    }

    #prizeMoney {
        margin-left: -3rem;
    }




    #roadshows_heading p{
        font-size: 38px;
        line-height: 40px;
        text-align: center;
    }

    #roadshows_timeline{
        transform: rotate(90deg);
        margin-top: 31px;
    }

    /* #roadshows_phase h4{
        text-align: center;
    } */

    /* #roadshows_phase p {
        font-size: 14px;
        text-align: justify;
    } */

    #aboutOfBdappsHeading {
        margin-top: 0px;
        font-size: 36px;
        text-align: center;
    }

    #aboutOfBdappsHeading-text {
        font-size: 14px;
        text-align: justify;
    }

    #aboutOfBdapps-image {
        width: 85%;
        height: 183px;
        margin-top: 25px;
        margin-bottom: 35px;
    }


    .navbar-nav{
        background-color: #9f2757;
        width: 197px;
        height: 170px;
    }

    .box-div {
        width: 94%;
        margin-left: 0.6rem;
    }

    #team-reg-submit {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    #navregbtn{
        display: none;
    }


    #navcol-1{
        margin-left: 0.5rem;
        margin-right: 159px;
    }

    .slick-list {
        height: 88px;
    }

    #taka {
        margin-top: 10px;
        font-size: 24px;
        margin-top: 10px;
    }
    
    #champtaka {
        font-size: 34px;
    }

    #prizeMoneyContainer {
        margin-left: 15px;
    }

    #runner2 {
        margin-top: 29px;
    }

    #sixthRow {
        margin-top: 25px;
    }

    .child1 img{
        height: 100px;
        width: 100px;
        margin-top: 9px;
    }

    #rulesHead{
        font-size: 21px;
        line-height: 20px;
        padding-left: -2px;
        margin-right: 24px;
    }


    #rules li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #rules2 li {
        text-align: justify;
        font-size: 15px;
        padding: 4px;
        margin-top: 5px;
    }

    #registrationSelectionText{
        font-size: 21px;
        line-height: 20px;
        text-align: center;
        margin-top: -18px;

    }

    #footer {
        font-size: 16px;
        padding-top: 17px;
    }

    #aboutOfBdapps_image_div{
        padding-left: 0px;
    }

    #line_div{
        display: none;
    }

    .btn-nah:hover {
        color: #191719;
        background: #FFFFFF;
    }

    #team-reg-submit:hover {
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }
      
      #navregbtn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }
      
      #heading-registration-btn:hover{
        background-color: #FFFFFF !important;
        color: #b62052 !important;
      }

      #powered_by_robi_logo{
        width: 98px;
        height: 30px;
        margin-left: 0px !important;
      }

      #footerIcons{
        height: 21px;
        width: 21px;
      } 

      #bdapps_android_logo{
        width: 85%;
        height: 75px;
      }






}
/* max-width: 300px end */