html {
  scroll-behavior:smooth;
  scroll-padding-top: 11%;
}

body {
  font-family: 'Nunito';
}

#powered_by_robi_logo{
  width: 258px;
  height: 62px;
}

#footer_social_section {
  margin-top: 13px !important;
  float: right;
}

/* Navigation Bar start*/
#logo {
  height: 77px;
  width: 152px;
}

#footer_social_section{
  margin-top: 8px;
}

#table_size{
  padding-right: 12px;
  padding-left: 24px;
}

#national_andriod_bootcamp_logo{
  margin-top: 60px;
}

#national_andriod_bootcamp_logo img{
  height: 157px;
  width: 94%;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.55);
  border-color: rgba(0,0,0,0);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

#container_div{
  margin-left: 9%;
  margin-right: 8%;
}

#phases .nav{
  justify-content: space-around;
  margin-left: 64px;
}

#phases .nav-link {
  color: white;
}

#phases .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057 !important;

}

#phases .tab-content{
  margin-left: 40px;
  margin-top: -10px;
}

#phases .tab-content #menu1, #menu2, #menu3, #menu4{
  padding-right: 0px;
}

#phases  .tab-content p{
  text-align: justify;
}


.navbar {
  background-image: linear-gradient(to bottom, rgb(132,44,99), rgb(184,36,78));
  /* box-shadow: 0 3px 3px 0 rgba(0,0,0,.6); */
  padding: 0;
  height: 118px;
}

#navcol-1 {
  text-decoration-color: var(--bs-white);
  margin-left: 5.0rem;
}

#navregbtn {
  border-radius: 8px;
  color: #8F1D43;
  box-shadow: 2px 2px 8px var(--bs-gray-dark);
  height: 48px;
  margin-left: 79px;
  font-family: 'Nunito';
  font-size: 24px;
  width: 220px;
}

#heading-registration-btn {
  border-radius: 8px;
  color: #8F1D43;
  box-shadow: 2px 2px 8px var(--bs-gray-dark);
  height: 48px;
  font-family: 'Nunito';
  font-size: 24px;
  width: 220px;
  margin-top: 3rem;
}

#navItem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Nunito';
  font-size: 18px;
}

#navItem a{
  color: #FFFFFF;
  font-weight: bold;
}

/* Navigation Bar end */


#reg_section{
  background: url("../img/registration_background.png") no-repeat;
  background-size: cover;

}


/* Intro portion start*/

#introportion {
  background: url("../img/background_image.png") no-repeat;
  background-size: cover;
}

#main-heading-text{
  color: #FFFFFF;
  font-size: 18px;
}

#introPara {
  font-family: 'Nunito';
  font-size: 22px;
  padding-top: 12px;
  line-height: 28px;
}

#introParaStrong {
  font-family: 'Nunito';
  letter-spacing: 1px;
}

#mainLogoDiv {
  display: flex;
  justify-content: center;
}

#mainLogo {
  height: auto;
}

#question {
  font-family: 'Ample Regular';
  text-align: center;
}

#regNowBtn {
  text-align: center;
}

#regnowbtn {
  border-radius: 16px;
  color: #FFFFFF;
  box-shadow:  3px 3px 10px var(--bs-dark);
  background-color: #832C61;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-family: 'Nunito';
  height: 50px;
  padding-top: 2px;
}

#deadline {
  font-family: 'Nunito';
  padding-top: 24px;
  text-align: center;
  font-size: 19px;
}

#overviewHeading {
  color: #ffffff;
  font-family: 'Ample Bold';
  font-size: 40px;
}

#overviewPara {
  color: #ffffff;
  font-family: 'Nunito';
  text-align: justify;
  line-height: 23px;
  font-size: 19px;
}


/* Intro portion end*/


/* Overview start */
#suppo {
  font-family: 'Nunito';
  text-align: center;
  font-size: 36px;
  color: #555555;
  font-weight: 600;
}

#support-image{
  width: 100%;
  height: 380px;
}


#overview{
  color: #000000;
  margin-top: 23px;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Nunito';
  margin-top: 46px;
  margin-bottom: 0px;
}

#overview-text{
  color: #444444;
  text-align: justify;
  font-family: 'Nunito';
  font-weight: 600;
}

#watch_video_img_div{
  cursor: pointer;
}

#watch_video_icon{
  margin-top: -2.8rem;
  width: 12rem;
}

/* Overview end */

#roadshows_heading{
  margin-left: 20px;
}

#registrationSelectionImg{
  margin-top: 71px;
}
#registrationSelectionText{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    color: #444444;
    margin-right: 5px;
    margin-bottom: -41px;
    margin-top: 13px;
}

#registrationSelectionText2{
  font-size: 33px;
  font-weight: 500;
  line-height: 20px;
}


/*  Prize money section */

#prizeMoney {
  background: url("../img/prize_money.png") no-repeat;
  background-size: cover;
  padding-top: 10px;

}

#prizeHeading {
  padding-top: 50px;
  font-family: 'Nunito';
  font-size: 58px;
}

#prizeMonPara {
  font-family: 'Nunito';
  font-size: 28px;
}

#bdt{
  font-size: 38px;
}

#champ {
  color: #B8244E;
  font-family: 'Nunito';
  background-color: white;
  width: 148px;
  font-size: 23px;
  margin: auto;
  position: relative;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 700;

}

#champtaka {
  color: var(--bs-white);
  padding-top: 0px;
  font-family: 'Nunito';
  border-radius: 16px;
  width: 248px;
  background-color: #8F1D43;
  border: 1.5px solid #E6E7E8;
  margin: auto;
  height: 67px;
  font-size: 42px;
  margin-top: -18px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .6);
  text-shadow: 2px 2px rgba(0, 0, 0, .6);
}

#promotionalBandwidth{
  color: #E6E7E8;
  margin-top: 5px;
}

#runnerSupTakaBox {
  color: var(--bs-white);
  padding-top: 0px;
  font-family: 'Nunito';
  border-radius: 16px;
  width: 289px;
  border: 1.5px solid #E6E7E8;
  margin: auto;
  height: 62px;
  margin-top: 1px;
}

#takaBox4th5th6th_10th{
  color: var(--bs-white);
  margin: auto;
  font-size: 18px;
  font-family: 'Nunito';
}

#runnersup1 {
  color: var(--bs-white);
  font-family: 'Nunito';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 28px;
  width: 210px;
  background-color: #8F1D43;
  margin: auto;
  height: 42px;
  border-top: 1px solid #E6E7E8;
  border-right: 1px solid #E6E7E8; 
  border-left: 1px solid #E6E7E8;  

}

#runnersup2 {
  color: var(--bs-white);
  font-family: 'Nunito';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 28px;
  width: 210px;
  background-color: #8F1D43;
  height: 42px;
  margin: auto;
  border-top: 1px solid #E6E7E8;
  border-right: 1px solid #E6E7E8; 
  border-left: 1px solid #E6E7E8; 
}


#hori {
  color: white;
  opacity: 1;
  margin:auto;
}

#taka {
  margin:auto;
  font-size: 40px;
  font-family: 'Nunito';
  color: var(--bs-white);
  text-shadow: 3px 3px rgba(0,0,0,.6);
}

#taka45 {
  margin:auto;
  font-size: 36px;
  font-family: 'Nunito';
  color: var(--bs-white);
  text-shadow: 3px 3px rgba(0,0,0,.6);
}

#horibot {
  color: white;
  opacity: .6;
  margin:auto;
}

#hori45 {
  color: white;
  opacity: .6;
  margin:auto;
}

#horibot45 {
  color: white;
  opacity: .6;
  margin:auto;
}

#fourthBox {
  color: var(--bs-white);
  font-family: 'Nunito';
  background-color: #8F1D43;
  width: 86px;
  margin: auto;
  height: 34px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid #E6E7E8;
  border-right: 1px solid #E6E7E8; 
  border-left: 1px solid #E6E7E8; 
}

#fifthBox {
  color: var(--bs-white);
  font-family: 'Nunito';
  background-color: #8F1D43;
  width: 86px;
  margin: auto;
  height: 34px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid #E6E7E8;
  border-right: 1px solid #E6E7E8; 
  border-left: 1px solid #E6E7E8;
}

#fourth {
  color: white;
  margin: auto;
}

#fifth {
  color: white;
  margin: auto;
}

#sixthBox {
  color: var(--bs-white);
  font-family: 'Nunito';
  background-color: #8F1D43;
  width: 89px;
  margin: auto;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid #E6E7E8;
  border-right: 1px solid #E6E7E8; 
  border-left: 1px solid #E6E7E8; 
  padding-top: 3px;
}

#sixth {
  padding-top: 14px;
}

#hori6 {
  color: white;
  opacity: .6;
  margin:auto;
}

#horibot6 {
  color: white;
  opacity: .6;
  margin:auto;
}

#taka6 {
  margin:auto;
  font-size: 36px;
  font-family: 'Nunito';
  color: var(--bs-white);
  text-shadow: 3px 3px rgba(0,0,0,.6);
}

#prize-money-benefit{
  color: #FFFFFF;
  margin-top: 23px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Nunito';
}

#prize-money-text{
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Nunito';
}

/*  Prize money section end */


/* Bullets start*/

#bullets {
  font-family: 'Nunito';
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #58595B;
}

.cke_notification_warning{
  display: none !important;
}

/* Bullets end*/


/* Phases start */

#phases {
  background: url("../img/background_roadshow.png") no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #FFFFFF;
}

#phase_timeline p{
  font-size: 16px;
}

#line_div{
  background-repeat: no-repeat;
  background-size: cover;
}

#roadshow_april{
  text-align: right;
}

#roadshows_heading p{
  color: #FFFFFF;
  font-size: 54px;
  font-weight: bold;
  font-family: 'Nunito';
  line-height: 4rem;

}

#roadshows_timeline{
  transform: rotate(90deg);
  margin-top: 80px;
  font-size: 20px;
  font-weight: 500;
}


#roadshows_phase_1{
  margin-top: 28px;
}

#roadshows_heading{
  margin-left: 15px;
}

#timeLine {
  font-family: 'Nunito';
  color: #FFFFFF;
  font-size: 44px;
  margin-left: 60px;
  margin-bottom: 50px;
}

#phaseNum {
  color: white;
  font-family: 'Nunito';
  margin-top: 0px;
  margin-left: 190px;
  font-size: 24px;
}

#dateAnnounce {
  color: white;
  font-family: 'Nunito';
  margin-left: 108px;
  opacity: 1;
  font-size: 18px;
  margin-top: -23px;
}

#smallCircle {
  color: white;
  margin-left: 292px;
  margin-top: -54px;
}

@media screen and (max-width: 864px) {
  #smallCircle {
    display: none;
  }
}

.verline {
  border-right: 1px solid white;
  height: 90px;
  width: 4px;
  margin-left: 296px;
  margin-top: -26px;
  opacity: 1;
}


#phaseIcon {
  background-color: white;
  border-radius: 10px;
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 8px;
  margin-top: 8px;
  margin-left: -20px;
}

#phasePara {
  color: white;
  font-family: 'Nunito';
  margin-left: -44px;
  font-size: 18px;
}

#phaseHeading {
  color: white;
  font-family: 'Nunito';
  margin-top: 2px;
  margin-left: -44px;
}

#phaseHeading5 {
  color: white;
  font-family: 'Nunito';
  margin-top: 2px;
  margin-left: -44px;
}

#phase5{
  padding-bottom: 10px;
}

#hori2 {
  color: white;
  opacity:.81;
  margin:auto;
  padding-top: 0;
}

#phaseRegHeading {
  color: white;
  font-family: 'Nunito';
  padding-top: 8px;
  font-size: 30px;
  margin-bottom: 4px;
}

#tableHeaders {
  color: white;
  font-family: 'Nunito';
  font-size: 30px;
}

#tableContent {
  color: white;
  font-family: 'Nunito';
  font-size: 22px;
}

.table>thead{
  background-color: #FFFFFF;
  color: #941C22;

}

thead th:first-child {
  border-radius: 10px 0 0 0;
}
thead th:last-child {
  border-radius: 0 10px 0 0;
}

table{
  color: white !important;
}

td:first-child {
  border-left: 1px solid #FFFFFF;
}

td:last-child {
  border-right: 1px solid #FFFFFF;
}

th {
  border: 0;
}


table tr td {
  color: #E6E7E8;
  
}

#mentHeading {
  color: white;
  font-family: 'Nunito';
  padding-top: 4px;
  font-size: 26px;
  margin-bottom: 4px;
}

#ment {
  border-radius: 7px;
  border: 2px solid white;
  width: 170px;
  margin: auto;
  height: 35px;
  font-family: 'Nunito';
  color: white;
  font-size: 18px;
}

#gala {
  border-radius: 7px;
  border: 2px solid white;
  width: 250px;
  margin: auto;
  height: 35px;
  font-family: 'Nunito';
  color: white;
  font-size: 18px;
}

/* Phases end */


/* about of bdapps start */

#aboutOfBdapps_image_div{
  padding-left: 36px;
}

#bulletPoints p{
  line-height: 22px;
}

#aboutOfBdapps-image{
  width: 100%;
  height: 364px;
  margin-top: 77px;
  margin-left: 60px;
}

#aboutOfBdapps {
  background: url("../img/background_image.png") no-repeat;
  background-size: cover;

}

#aboutOfBdappsHeading{
  color: #FFFFFF;
  margin-top: 98px;
  font-size: 40px;
  font-weight: 300;
  margin-left: 10px;
}

#aboutOfBdappsHeading-text{
  color: #FFFFFF;
  font-size: 18px;
  text-align: justify;
  margin-left: 10px;
}



/* about of bdapps end */

/* Rules start */

@media screen and (max-width: 768px) {
  #rulesNguides {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #rulesNguidesResponsive {
    display: none;
  }
}

#rulesHeading {
  color: #8F1D43;
  font-family: 'Nunito';
  font-size: 61px;
  padding-bottom: 2px;
  text-align: center;
  font-weight: 700;
}

.roadshow_dates_text{
  font-weight: 700;
}

#rules {
  font-family: 'Nunito';
  padding-top: 0;
  font-size: 20px;
}


#rules2 {
  font-family: 'Nunito';
  text-align:right ;
  font-size: 19px;
}



#rulesHead {
  font-family: 'Nunito';
  color: #444444;
  font-weight: 700;
}

#miscellaneous {
  font-family: 'Nunito';
  color: #444444;
  margin-left: 0.6rem;
  margin-top: 15px;
}

#round {
  font-family: 'Nunito';
  font-size: 30px;
  color: #B8244E;
  margin-bottom: -20px;
}

#rules li {
  list-style-type: none;
  font-size: 20px;
}

#rules2 li {
  list-style-type: none;
}

#regEndBtn {
  background-image: linear-gradient(to left, rgb(132,44,99), rgb(184,36,78));
  border-radius: 14px;
  color: white;
  font-family: 'Nunito';
  width: 180px;
  box-shadow: 2px 3px 2px 0 rgba(0,0,0,.6);
}

.eligibility_img{
  margin-top: 35px !important;
}

#regEnd {
  padding-bottom: 45px;
  margin-top: 20px;
}

/* .eligibility{
  margin-left: 1.3rem;
} */

.Parent {
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .Parent {
    flex-direction: column;
  }
}

.child1 {
  width: 17%;
}



.child2 {
  width:83%
}


/* Rules end */



/* Add hover effect */

#footer {
  /* background-image: linear-gradient(to right, #B6244F, rgb(132,44,99)); */
  background: linear-gradient(to right, #AF1E52, #A11E4B);
  text-align: center;
  font-family: 'Nunito';
  font-size: 20px;
  color: #FFFFFF;
}

#footer a{
  text-decoration: none;
}

#footerIcons{
  height: 36px;
  width: 36px;
  margin-right: 0.6rem;
}

#line_div{
  float: right;
  margin-right: 3px;

}


/* .btn-nah:hover {
  no
  color: #191719;
  background: #FFFFFF;
} */

#team-reg-submit:hover {
  background-color: #FFFFFF !important;
  color: #b62052 !important;
}

#navregbtn:hover{
  background-color: #FFFFFF !important;
  color: #b62052 !important;
}

#heading-registration-btn:hover{
  background-color: #FFFFFF !important;
  color: #b62052 !important;
}


/* Slick Slider start */

.slider {
  width: 100%;
  margin: auto;
  padding: auto;
}

.slick-slide {
margin: 0px 10px;
}

.slick-slide img {
  height: 90px;
  width: 100%;
}

.slick-slide {
transition: all ease-in-out .1s;
opacity: 1;
}

.slick-active {
opacity: 1;
}

.slick-current {
opacity: 1;
}

.slick-list {
  background-color: white;
  height: 120px;
}

/* Slick Slider end */

.popup-btn{
  position: absolute;
  top: 25px;
  right: 25px;
}

marquee p {
  font-weight: 600;
  font-size: 16px;
}

marquee a {
  color: white;
  /* text-decoration: none; */
}

marquee a:hover,
marquee a:active,
marquee a:focus{ 
    transition: all .1s;
    color: #f2f8c4;
}